<%= simple_form_for(@church) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :name, label: false, placeholder: "Church Name", required: true, input_html: { class: "form-control" } %>
  <%= f.input :denomination, collection: denominations, label: false, required: true, selected: "Non Denominational", input_html: { class: "form-control" } %>
  <%= f.input :church_image, as: :file, label: "Upload Your Church Logo", input_html: { class: "form-control" } %>
</div>

<div class="form-actions">
  <%= f.button :submit, class: "btn main-btn block" %>
</div>
<% end %>
<div class="clearfix"></div>
