<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Givings this Month</h3>
    </div>
    <div class="panel-body">
      <%= bar_chart @monthly_givings.group(:church_id).sum(:amount), xtitle: "Dollar Amount", ytitle: "#{(Time.now).strftime("%b")}", height: "200px", colors: ["#11f911"] %>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Total Members</h3>
    </div>
    <div class="panel-body">
      <%= column_chart @members.group(:church_id).count, xtitle: "Church", ytitle: "Total Members", height: "200px", colors: ["#11f911"] %>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Total Givings by Month</h3>
    </div>
    <div class="panel-body">
      <%= line_chart @givings.group_by_month(:date_given).count, xtitle: "Month", ytitle: "Total Givings", height: "200px" %>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Giving Types</h3>
    </div>
    <div class="panel-body">
      <%= pie_chart @givings.joins(:giving_type).group("giving_types.name").count, height: "200px" %>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title text-center">Groups</h3>
    </div>
    <div class="panel-body">
      <%= pie_chart @groups.joins(:group_members).group("groups.name").count, height: "200px" %>
    </div>
  </div>
</div>
