<h1><%= @church.name %></h1>
<p><%= @church.denomination %></p>
<%= image_tag(@church.church_image_url(:medium)) %>
<p><%= link_to 'Edit', edit_church_path(@church) %> | <%= link_to 'Destroy', @church, method: :delete, data: { confirm: 'Are you sure?' } %></p>
