<div class="container main-content">
  <div class="col-md-12">
    <h1><%= @church.name %></h1>

    <p>
      <strong>Denomination:</strong>
      <%= @church.denomination %>
    </p>

    <p>
      <strong>Church image:</strong>
      <%= @church.church_image %>
    </p>

    <%= link_to 'Edit', edit_church_path(@church) %> |
    <%= link_to 'Back', churches_path %>
  </div>
</div>
