<%= simple_form_for(@giving) do |f| %>
  <%= f.error_notification %>

  <div class="form-actions">
    <%= f.input :member_id, collection: @members.map{|member| [member.full_name, member.id]} %>
    <%= f.input :amount %>
    <%= f.input :date_given %>
    <%= f.input :giving_type %>
    <%= f.button :submit %>
  </div>
<% end %>
