<p><%= @giving.member_id %></p>
<p><%= @giving.amount %></p>
<p><%= @giving.date_given %></p>
<p><%= @giving.giving_type_id %></p>
<%= link_to 'Edit', edit_church_giving_path(@church, @giving) %> |
<%= link_to 'Back', church_givings_path(@church) %>
