<table class="table table-striped">
  <thead>
    <th><%= sortable "name", "Group Name" %></th>
    <th>Total Members</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.group_members.count %></td>
        <td class="actions">
          <%= link_to "<i class='fa fa-eye'></i>".html_safe, church_group_path(@church, group), title: 'View', class: 'action view' %>
          <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_church_group_path(@church, group), title: 'Edit', class: 'action edit' %>
          <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, [@church, group], method: :delete, data: { confirm: 'Are you sure? Deleting a group will delete all data associated with a group.' }, title: 'Delete', class: 'action delete' %>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>Download: <%= link_to "CSV", church_groups_path(@church, format: "csv") %></div>
<%= will_paginate @groups %>
