<h1><%= @group.name %>
  <%= link_to 'Edit', edit_church_group_path(@church, @group), class: "btn main-btn" %>
  <%= link_to 'Back', church_groups_path(@church), class: "btn main-btn" %>
  <%= link_to "Add Member", new_church_group_group_member_path(@church, @group), class: "btn main-btn" %>
</h1>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Group Members</h3>
    </div>
    <div class="panel-body">
      
    </div>
    <div id="church-data">
      <%= render partial: "group_members" if @group_members.present? %>
    </div>
  </div>
</div>
