<h1><%= @group.name %> <%= link_to 'Edit', edit_church_group_path(@church, @group), class: "btn grn-btn" %> <%= link_to 'Back', church_groups_path(@church), class: "btn grn-btn" %></h1>

<p><%= @group.description %></p>

<p>
  <strong>Group image:</strong>
  <%= @group.group_image %>
</p>
