<h1><%= @group.name %>
  <%= link_to 'Edit', edit_church_group_path(@church, @group), class: "btn main-btn" %>
  <%= link_to 'Back', church_groups_path(@church), class: "btn main-btn" %>
  <%= link_to "Add Member", new_church_group_group_member_path(@church, @group), class: "btn main-btn" %>
</h1>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Group Members</h3>
    </div>
    <div class="panel-body">
      <% if @group_members.present? %>
      <div id="church-data">
        <%= render partial: "group_members" %>
      </div>
      <% else %>
        <div class="alert alert-warning">
          <h4 class="alert-heading">Group Members</h4>
          <p>
            You haven't added any members to this group. Let's get started by
            <%= link_to "adding members", new_church_group_group_member_path(@church, @group), class: "alert-link" %>  now!
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
