<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>GraceInteractive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag "https://js.stripe.com/v3/" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Raleway:400,400i,700" rel="stylesheet">
</head>
<body class="<%= @body_class %>">
  <%= render "shared/main_nav" %>

  <div class="container flash-messages">
    <%= flash_messages %>
  </div>
