<ul class="side-nav">
  <li><%= link_to "<i class='fa fa-tasks'></i> Dashboard".html_safe, church_path(@church) %></li>
  <li><%= link_to "<i class='fa fa-usd'></i> Givings".html_safe, church_givings_path(@church) %></li>
  <li><%= link_to "<i class='fa fa-list-ol'></i> Giving Types".html_safe, church_giving_types_path(@church) %></li>
  <li><%= link_to "<i class='fa fa-user'></i> Members".html_safe, church_members_path(@church) %></li>
  <li><%= link_to "<i class='fa fa-group'></i> Groups".html_safe, church_groups_path(@church) %></li>
  <li><%= link_to "<i class='fa fa-comments'></i> Texting".html_safe, root_path %></li>
  <li><%= link_to "<i class='fa fa-calendar'></i> Events".html_safe, root_path %></li>
  <li><%= link_to "<i class='fa fa-commenting'></i> Sermons".html_safe, "#" %></li>
  <li><%= link_to "<i class='fa fa-cogs'></i> Widgets".html_safe, "#" %></li>
</ul>
