<%= render "banner" %>
<section class="container main-content">
  <header>
    <h1 class="text-center">Grace Interactive Creates Beautiful Custom Websites.</h1>
    <h2>If you are looking for a marketing agency that can deliver custom website design &amp; development for your church, you are in the right place.</h2>
  </header>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <p>We are a marketing agency that focuses on user interface and user experience design when developing custom websites and applications. We are committed to creating amazing websites by using the latest standards in web design and development. Every one of our projects are built using responsive techniques to ensure the best experience across a wide range of devices and different browsers.</p>
      <p>We don’t just design and build great websites, we host and manage them too, continuously updating and maintaining every line of code to ensure you always have the most secure and up to date website possible. Want a new feature on your website, contact us to see what types of solutions we can provide.</p>
      <p>We also offer several other services, including: online marketing, social marketing, domain  name management, emails, and consulting. Ready to get started? Contact us today to see how we can help your church reach more people.</p>
    </div>
  </div>
</section>
<%= render "design" %>
<%= render "services" %>
<%= render "social" %>
<%= render "domains" %>
<%= render "management" %>
