<h1>Giving Types <%= link_to 'New Giving type', new_church_giving_type_path(@church), class: "btn grn-btn" %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @giving_types.each do |giving_type| %>
      <tr>
        <td><%= giving_type.giving_type %></td>
        <td><%= link_to 'Show', church_giving_type_path(@church, giving_type) %></td>
        <td><%= link_to 'Edit', edit_church_giving_type_path(@church, giving_type) %></td>
        <td><%= link_to 'Destroy', [@church, giving_type], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
