<h1>Members <%= link_to 'New Member', new_member_path, class: "btn grn-btn" %></h1>
<hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Birthday</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to image_tag(member.member_image_url(:thumb)), member_path(member) %></td>
        <td><%= link_to member.full_name, member_path(member) %></td>
        <td><%= member.email %></td>
        <td><%= member.phone %></td>
        <td><%= member.birthday %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
