<h1>Members <%= link_to 'New Member', new_church_member_path(@church), class: "btn grn-btn" %></h1>
<hr/>
<% if @members.blank? %>
  <p>You don't have any members, let's go add some <%= link_to "members", new_church_member_path(@church) %>!</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Birthday</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.full_name, church_member_path(@church, member) %></td>
          <td><%= member.email %></td>
          <td><%= number_to_phone(member.phone, area_code: true) %></td>
          <td><%= short_date(member.birthday) %></td>
          <td class="actions">
            <%= link_to "<i class='fa fa-eye'></i>".html_safe, church_member_path(@church, member), title: 'View', class: 'action view' %>
            <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_church_member_path(@church, member), title: 'Edit', class: 'action edit' %>
            <%= link_to "<i class='fa fa-trash-o'></i>".html_safe, [@church, member], method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', class: 'action delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
